.btn-group > input {
  visibility: hidden;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none !important;
}

.linkButton {
  border: none !important;
  display: flex !important;
  align-self: center !important;
  background: none !important;
  color: #1701c7 !important;
  outline: none !important;
  font-weight: bold !important;
  font-family: "Oswald" !important;
  font-size: 1.2em !important;
  text-decoration: none !important;
  box-shadow: none !important;
}

.linkButton:active,
.linkButton:focus {
  outline: none !important;
  color: #42006f !important;
  text-shadow: 0px 2px 5px rgba(66, 34, 87, 0.514) !important;
  border: none !important;
  background: none !important;
  font-weight: 900 !important;
  font-size: 1.4em !important;
  font-family: "Oswald" !important;
  text-decoration: none !important;
  border: none !important;
  box-shadow: none !important;
}

.linkButton:hover {
  font-weight: 900 !important;
  font-size: 1.3em !important;
  color: #42006f !important;
}

.buttonSelect {
  outline: none !important;
  color: #42006f !important;
  text-shadow: 0px 2px 5px rgba(66, 34, 87, 0.514) !important;
  border: none !important;
  background: none !important;
  font-weight: 900 !important;
  font-size: 1.2em !important;
  font-family: "Oswald" !important;
  text-decoration: none !important;
  border: none !important;
  box-shadow: none !important;
  display: flex !important;
  align-self: center !important;
}
