.letter {
    border: none;
    background: none;
    color: #1701C7;
    outline: none !important;
    font-weight: bold;
    font-family: 'Oswald';
    font-size: 1.2em;
    text-decoration: none !important;
}

 .letter:active, .letter:focus  {
    outline: none !important;
    color: #42006F;
    text-shadow: 0px 2px 5px rgba(67, 0, 111, 0.514);
    border:none;
    background: none;
    font-weight: 900;
    font-size: 1.2em;
    font-family: 'Oswald';
    text-decoration: none !important;
}


.letter:hover {
    font-weight:900 !important;
    font-size: 1.3em;
    color:#42006F;
}

.letter-disabled {

    color: black;
}